:root {
  --bg-color: #111111;
  --white: #ffffff;
  --text-color: #adadad;
  --border-color: #464545;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}
body {
  /*
  background: linear-gradient(rgba(17, 17, 17, 0.95), rgba(17, 17, 17, 0.95)),
    url('img/avengers.jpg');*/
  background-color: var(--bg-color);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.bg {
  position: absolute;
  /*
  background-image: url('img/avengers.jpg');
  */
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  z-index: -1;
  opacity: 0.05;
}
/*=======HEADER========*/
.head {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 1em 0;
}
.head__logo {
  width: 5vw;
}
.head__search {
  align-self: center;
  position: relative;
  width: 90%;
}
.head__input {
  border-radius: 100px;
  padding: 0.3em 2em;
  width: 40%;
  margin: auto;
  display: block;
  border: none;
  font-size: 1.2em;
  outline: none;
}
.head__input::placeholder {
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.head__lupa {
  color: var(--bg-color);
  position: absolute;
  font-size: 1.5em;
  bottom: 10%;
  left: 31%;
  font-weight: 400;
  color: #c7c7c7;
}
.head__nav {
  display: flex;
  color: white;
  width: 40%;
  justify-content: space-between;
}
.head__nav ul {
  margin: 0;
  padding: 0;
}
.head__nav li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__nav a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 0.5s ease;
}
.head__item a {
  padding: 0.5em;
}
.head__item a:hover {
  transform: translateY(-3px);
}
/*=======MAIN========*/
.main {
  display: flex;
  max-width: 1200px;
  margin: 2em auto 2em auto;
  color: white;
}

.main__img {
  width: 226px;
  height: 340px;
  object-fit: fill;
}

.main__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 3em;
}
.main__header {
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 1em;
  line-height: 1.5em;
}
.main__title {
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: 300;
}
.main__overview {
  text-align: justify;
  color: var(--text-color);
  font-weight: 300;
  font-size: 0.9em;
}

.main__info p {
  margin: 1em 0;
  font-weight: 300;
  font-size: 0.8em;
}
.main_favorite {
  background-color: #dd0a0a;
  color: white;
  border-radius: 2px;
  padding: 0.5em;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease;
  margin-top: 1em;
}
.fa-star {
  font-size: 1.2em;
  padding-left: 0.5em;
}
.main_favorite:hover {
  background-color: #ff1f1f;
}

/*=========Carousel=============*/
.carousel {
  height: 240px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.carousel-img {
  display: block;
  height: auto;
  width: 120px;
  margin: 0 0.5em 0 0.5em;
  transition: 0.4s ease;
}

.carousel-img:hover {
  /*transform: scale(1.2);*/
  cursor: pointer;
}
.carouselBox {
  height: 240px;
  width: 100%;
  position: absolute;
}
.sliderButton {
  position: absolute;
  z-index: 3;
  color: white;
  text-decoration: none;
  line-height: 200px;
  height: 100%;
  cursor: pointer;
}

.sR {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(44, 0, 91, 0) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  padding: 1em;
  transition: 0.5s ease;
}
.sR:hover {
  transform: translateX(5px);
}
.sL {
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(44, 0, 91, 0) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  padding: 1em;
  transition: 0.5s ease;
}
.sL:hover {
  transform: translateX(-5px);
}
.popular__title,
.search__title,
.top__title,
.favorite__title {
  color: white;
  max-width: 1200px;
  margin: 1.5em auto 0 auto;
  font-weight: 300;
  font-size: 1.3em;
}
.search__title {
  margin: 0 auto 0 auto;
}
.section__carousel {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.error {
  text-align: center;
  color: white;
  max-width: 1200px;
  margin: auto;
  padding: 1vh 1vw;
  background-color: rgba(255, 0, 0, 0.5);
  border: solid 2px red;
  border-radius: 5px;
  color: rgb(255, 75, 75);
  display: none;
}
.error__reveal {
  display: block;
}
#search {
  display: none;
}
#carouselFav a {
  position: relative;
}
.remove {
  position: absolute;
  bottom: -100px;
  width: 120px;
  margin: 0 0.5em 0 0.5em;
  border: none;
  color: white;
  background-color: red;
  padding: 0.5em;
  font-size: 1em;
  transition: 0.4s ease;
  z-index: 10;
}
.carousel__link {
  transition: 0.4s ease;
}
.carousel__link:hover {
  transform: scale(1.2);
}
.carousel__link:hover .remove {
  cursor: pointer;
  bottom: 0;
}

.fav {
  overflow: hidden;
  min-width: 136px;
}
.remove:hover {
  background-color: rgb(190, 1, 1);
}
@media (max-width: 1024px) {
  /*====================Head==============*/
  .head {
    display: flex;
    padding: 2vh 8vw;
  }
  .head__logo {
    width: 8vw;
  }
  .head__input {
    border-radius: 100px;
    padding: 0.3em 2em;
    width: 80%;
    font-size: 1.2em;
  }

  .head__lupa {
    bottom: 10%;
    left: 12%;
  }

  /*=======Bodyyy========*/
  .main {
    padding: 2vh 8vw;
  }
}
@media (max-width: 768px) {
  /*====================Head==============*/
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 8vw;
  }
  .head__logo {
    width: 8vw;
    margin: 2vh 0;
  }
  .head__search {
    order: 3;
  }
  .head__nav {
    width: 80%;
    margin: 5vh 5vh;
  }
  /*=======Bodyyy========*/
  .main {
    flex-direction: column;
  }
  .main__photo {
    text-align: center;
  }
  .main__photo img {
    margin-bottom: 2vh;
  }
  .popular__title,
  .search__title,
  .top__title,
  .favorite__title {
    text-align: center;
  }
}
@media (max-width: 425px) {
  /*=================Head==============*/
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 8vw;
  }
  .head__logo {
    width: 20vw;
    margin: 2vh 0;
  }
  .head__nav {
    width: 100%;
  }
  .head__search {
    position: relative;
    width: 100%;
  }
  .head__input {
    border-radius: 100px;
    padding: 0.3em 2em;
    width: 100%;
    margin: auto;
    display: block;
    border: none;
    font-size: 1.5em;
  }
  .head__lupa {
    bottom: 20%;
    left: 4%;
  }
  .head__item a {
    padding: 0.5em;
    font-size: 1.2em;
    margin-bottom: 2vh;
    margin-top: 0vh;
    text-align: center;
  }
  .popular__title,
  .search__title,
  .top__title,
  .favorite__title {
    text-align: center;
  }

  /*=======bodyyy========*/
  .main__photo img {
    width: auto;
  }
  .main__content {
    width: 100%;
    padding: 3vh 0;
  }
  .main_favorite {
    width: 100%;
    justify-content: center;
    margin: 1em 0;
    font-size: 1.3em;
  }
}
